.icon-small-menu {
  background-image: url('./assets/icons/baseline-menu-24px.svg');
  background-size: 100% 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-small-add {
  background-image: url('./assets/icons/baseline-add_circle_outline-24px.svg');
  background-size: 100% 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-small-expand-less {
  background-image: url('./assets/icons/baseline-expand_less-24px.svg');
  background-size: 100% 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-small-expand-more {
  background-image: url('./assets/icons/baseline-expand_more-24px.svg');
  background-size: 100% 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-small-close {
  background-image: url('./assets/icons/baseline-close-24px.svg');
  background-size: 100% 100%;
  width: 1.5rem;
  height: 1.5rem;
}
