$primary-color: #dedede;
$secundary-color: white;

.icon-delivered {
  background-image: url('../assets/icons/delivered.svg');
  background-size: 100% 100%;
}

.icon-error {
  background-image: url('../assets/icons/error.svg');
  background-size: 100% 100%;
}

.icon-pending {
  background-image: url('../assets/icons/pending.svg');
  background-size: 100% 100%;
}

.icon-shipped {
  background-image: url('../assets/icons/shipped.svg');
  background-size: 100% 100%;
}

.icon-date {
  background-image: url('../assets/icons/baseline-date_range-24px.svg');
  background-size: 100% 100%;
}

.icon-name {
  background-image: url('../assets/icons/baseline-face-24px.svg');
  background-size: 100% 100%;
}

.icon-address {
  background-image: url('../assets/icons/baseline-home-24px.svg');
  background-size: 100% 100%;
}

.icon-phone {
  background-image: url('../assets/icons/baseline-phone-24px.svg');
  background-size: 100% 100%;
}

.icon-prev {
  background-image: url('../assets/icons/baseline-skip_previous-24px.svg');
  background-size: 100% 100%;
}

.icon-next {
  background-image: url('../assets/icons/baseline-skip_next-24px.svg');
  background-size: 100% 100%;
}

.icon-close {
  background-image: url('../assets/icons/baseline-close-24px.svg');
  background-size: 100% 100%;
  width: 2.5rem;
  height: 2.5rem;
}


.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $secundary-color;
  overflow-y: auto;
}
